body{
    font-family:Arial;
    padding:0px;
    text-align:center
} 
.item{
    display:flex;
    justify-content:space-between;
    border:1px solid #ddd;
    padding:10px;
    margin:5px;
    border-radius:8px
} 
button{
    padding:5px 10px
}

.headerNav{
    background-color: #1db91d;
}
.nav-item{
    text-decoration: none;
}
.LogoH{
    width: 30%;
    padding-left: 4%;
    padding-bottom: 5%;
}
.headerNavH{
    padding-top: 20px;
}
a{
    color: white !important;
}
.text-h1{
    color: #1db91d;
}
.img-tectH{
    width: 50%;
}
.img-barH{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.txt-m{
   color: #ddd;
}