body{
    font-family:Arial;
    padding:0px;
    text-align:center
} 
.item{
    display:flex;
    justify-content:space-between;
    border:1px solid #ddd;
    padding:10px;
    margin:5px;
    border-radius:8px
} 
button{
    padding:5px 10px
}
main{
    display: block;
    position: relative;
    top: 90px;
}
.headerNav{
    background-color: #1db91d;
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
}
.nav-item{
    text-decoration: none;
}
.LogoH{
    width: 30%;
    padding-left: 4%;
    padding-bottom: 5%;
}
.headerNavH{
    padding-top: 20px;
}

.carrito-icono {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
}
.carritoH{
  color: #ffffff;
}
#contadorCarrito {
    position: absolute;
    top: -10px;
    right: -12px;

    background: white;
    color: black;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* PANEL DEL CARRITO */

.panel-carrito {
    position: fixed;

    top: 0;
    right: -400px;

    width: 380px;
    height: 100vh;

    background: white;

    z-index: 9999;

    padding: 20px;

    box-shadow: -5px 0 15px rgba(0,0,0,.2);

    transition: .3s;
}


/* cuando está abierto */

.panel-carrito.abierto {
    right: 0;
}


.cabecera-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #ddd;

    padding-bottom: 15px;

    margin-bottom: 20px;
}

.cabecera-carrito button {
    border: none;
    background: none;

    font-size: 22px;

    cursor: pointer;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0;

    border-bottom: 1px solid #ddd;
}


.item button {
    margin-left: 5px;
}


#total {
    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
}


.btn-comprar {
    width: 100%;

    margin-top: 20px;

    padding: 12px;

    border: none;

    background: #198754;

    color: white;

    font-size: 16px;

    cursor: pointer;
}


a{
    color: white !important;
}
.text-h1{
    color: #1db91d;
}
.img-tectH{
    width: 50%;
}
.img-barH{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.txt-m{
   color: #ddd;
}